streamlit
pandas
requests
openpyxl
google-generativeai
python-dotenv
fpdf
googletrans==4.0.0-rc1
Pillow
easyocr
numpy
opencv-python-headless
streamlit-webrtc
pymupdf 
youtube-transcript-api
pathlib


google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-generativeai
python-dotenv
youtube-transcript-api
docx
beautifulsoup4
requests
